@keyframes floatingX {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(15px);
  }
}

#imageAbout {
  position: absolute;
  left: 0;
  background-image: url("../../../public/material.jpg");
  border-radius: 15px;
  transform-origin: center;
  background-size: cover;

  opacity: 0.3;
  z-index: -999;
  width: 100%;
  height: 50%;
  margin: 0 auto;
}

@media (max-width: 476px) {
  #imageAbout {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../../public/material.jpg");
    border-radius: 15px;
    transform-origin: center;
    background-size: cover;

    opacity: 0.3;
    z-index: -999;
    width: 100%;
    height: 100%;
  }
}
