#image {
    position: relative;
    background-color: transparent;
    width: 450px;
    height: 450px;
    left: -50px;
    top: 20px;
}

#image::after {
    content: "";
    position: absolute;

    display: block;
    background-image: url("../../../public/programming.jpg");
    border-radius: 15px;
    transform-origin: center;
    transform: rotate(10deg);
    background-size: cover;

    opacity: 0.8;

    width: 100%;
    height: 100%;

    animation-name: image_intro;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

#image::before {
    content: "";
    position: absolute;

    display: block;
    border-radius: 15px;
    transform-origin: center;
    transform: rotate(10deg);

    background-color: rgb(166, 6, 206);
    width: 100%;
    height: 100%;

    animation-name: image_intro;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes image_intro {
    0% {
        top: 100vh;
        left: 70vw;
    }
    100% {
        top: 0;
        left: 0;
    }
}

div#material-bg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 100%;

    z-index: -100;
}

div#material-bg > div#material-bg-image {
    background-image: url("../../../public/material.jpg");
    position: absolute;
    opacity: 0.1;

    width: 100%;
    height: 100%;
}

div#material-bg::after {
    content: "";
    display: block;
    position: absolute;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(200, 200, 200, 0.25));

    width: 100%;
    height: 100%;
}
